<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>VueJS transition and transition-group demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Nunito:200,300,400'>
  <link rel="stylesheet" href="/assets/css/index.css">
</head>

<body>
  <main id="app" class="content">
    <nav class="nav">
      <menu class="nav__controls">
        <icon class="nav__icon" use="#filter"></icon>

        <li v-for="(active, menu) in menus" class="nav__label"
          :class="{ 'nav__label--active' : active }"
          @click="setMenu(menu, active)">
          {{ menu }}
        </li>
      </menu>

      <label class="nav__label" @click="modal = !modal">About this pen</label>
    </nav>

    <section class="dropdown" :style="dropdown">
      <dropdown-item v-for="(options, set) in filters" :key="set">
        <menu class="filters" v-show="menus[set]" ref="menu">
          <template v-if="set === 'rating'">
            <li class="filters__rating">
              <output>
                <label>Minimum rating:&nbsp;</label>
                {{ parseFloat(filters.rating).toFixed(1) }}
              </output>

              <input v-model="filters.rating" class="filters__range" type="range"
                :min="rating.min" :max="rating.max" step="0.1"/>
            </li>
          </template>

          <template v-else>
            <li v-for="(active, filter) in options" class="filters__item"
              :class="{ 'filters__item--active': active }"
              @click="setFilter(set, filter, set === 'categories')">
              {{ filter }}
            </li>
          </template>
        </menu>
      </dropdown-item>
    </section>

    <transition-group name="company" tag="ul" class="content__list">
      <li class="company" v-for="company in list" :key="company.id">
        <div class="company__info">
          <icon class="company__logo" :style="`fill:${company.color}`" :use="company.logo"></icon>
          <h2 class="company__name">{{ company.name }}</h2>
          <blockquote class="company__slogan">{{ company.slogan }}</blockquote>
        </div>

        <ul class="company__details">
          <li class="company__data">
            <label class="company__label">Country</label>
            <p class="company__country"
              @click="setFilter('countries', company.country)">
              {{ company.country }}
            </p>
          </li>

          <li class="company__data">
            <label class="company__label">Rating</label>
            <p class="company__rating">{{ company.rating.toFixed(1) }}</p>
          </li>
        </ul>
      </li>
    </transition-group>

    <transition name="modal">
      <section v-if="modal" class="modal">
        <article class="modal__content">
          <h4 class="modal__title">For the full tutorial</h4>
          <h4 class="modal__title">that goes with this pen</h4>

          <h5 class="modal__link">
            <a href="https://snipcart.com/blog/vuejs-transitions-animations" target="_blank">
              Creating Vue.js Transitions &amp; Animations
            </a>
          </h5>

          <button class="modal__close" @click="modal = !modal">&times;</button>
        </article>
      </section>
    </transition>
  </main>

  <script type="text/x-template" id="dropdown-item">
    <transition name="dropdown" mode="out-in">
      <slot></slot>
    </transition>
  </script>

  <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js'></script> -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js'></script>
  <script src="/assets/js/index.js"></script>
</body>
</html>
